.about_section {
  /* margin: 0 70px; */
  padding: 0 70px;
  /* position: sticky;
  top: 100%; */
  height: 400vh;
  position: relative;
  overflow-x: clip;
}

.about_text {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  /* width: 60%; */
  width: 54%;
}

.scroll_container {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 15%;
}

.mouse {
  display: block;
  margin: 10px auto;
}

.scroll_text {
  color: #a8a8a8;
}

.about_us {
  color: #a8a8a8;
  text-align: center;
  margin-bottom: 180px;
  will-change: transform;
}

.about_us .title {
  color: #a8a8a8;
  text-align: center;
  margin-bottom: 30px;
}

.about_detail {
  font-size: 58px;
  font-weight: 600;
  margin: 0 50px;
  line-height: 62px;
}

.about_detail_container {
  position: relative;
  /* overflow: visible; */
  /* overflow: hidden; */
  padding-top: 100px;
  margin-top: -100px;
}

.about_images {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.about_images {
}

.left_image {
  position: absolute;
  width: 35%;
  top: 90px;
  left: 0;
}

.right_image {
  position: absolute;
  width: 35%;
  top: -50px;
  right: -100px;
  filter: blur(9px);
}

.about_more {
  display: flex;
  justify-content: center;
}

/* MOBLE */

@media screen and (max-width: 360px) {
  .about_section {
    margin: 0 0;
    padding: 0 10px;
  }

  .scroll_container {
    margin-top: 15%;
    margin-bottom: 80%;
  }

  .about_detail {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
  }

  .left_image {
    left: -30px;
  }

  .right_image {
    right: -70px;
  }

  .about_text {
    width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .about_section {
    margin: 0 0;
    padding: 0 10px;
  }

  .scroll_container {
    margin-top: 15%;
    margin-bottom: 80%;
  }

  .about_detail {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
  }

  .left_image {
    left: -30px;
  }

  .right_image {
    right: -70px;
  }

  .about_text {
    width: 85%;
  }

  .about_images {
    top: 25%;
  }
}

/* TAB */

@media (min-width: 599px) and (max-width: 767px) {
  .scroll_container {
    margin-bottom: 30%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .scroll_container {
    margin-top: 0%;
    margin-bottom: 35%;
  }

  .about_detail {
    font-size: 40px;
    line-height: 50px;
  }

  .about_images {
    top: 100px;
  }
}

/* ANIMATION */
/* .about_section {
  margin: 0 70px;
  height: 400vh;
  position: relative;
} */

.about_wrapper {
  height: 100%;
  position: relative;
}

.about_us {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #a8a8a8;
  text-align: center;
  will-change: transform;
}
