.list{
    display: flex;
    justify-content: space-between;
}

.left_contents{
    display: flex;
}

.index{
    font-size: 55px;
    color: #414141;
    font-weight: 600;
    line-height: 67px;
    margin: 8px;
}

.middle_content{
    /* display: flex; */
    font-size: 20px;
    margin-left: 35px;
    text-transform: uppercase;
}

.approach_icons{
    display: flex;
    align-items: flex-start;
}

.approach_sub_title{
    font-size: 16px;
}

.approach_title{
    font-size: 58px;
}