.approach {
  margin: 175px 25px 100px 25px;
}

.section_head {
  color: rgb(168, 168, 168);
  margin-bottom: 8%;
}

.hr {
  margin-top: 35px;
}

.approach {
  overflow-x: hidden;
}

/* MOBILE */
@media screen and (max-width: 540px) {
  .section_head {
    text-align: center;
  }

  .section_head {
    margin-bottom: 20%;
  }
}

/* TAB */
@media (min-width: 768px) and (max-width: 1024px) {
  .approach_title {
    font-size: 40px;
  }

  .index {
    margin: 0 8px;
  }

  .middle_content{
    margin-left: 15px;
  }
}
